{% extends "base.html" %}
{% block content %}

<h1>Vehiculos</h1>
<a href="{{url_for('nuevo_vehiculo')}}" class="btn btn-success mb-2">Nuevo</a>

<table class="table table-stiped table-hover">
    <thead class="table-dark">
        <tr>
            <th>Id</th>
            <th>Modelo</th>
            <th>Placa</th>
            <th>Color</th>
            <th>Acciones</th>
        </tr>

    </thead>
    <tbody>

        {% for item in vehiculos  %}
        <tr>
            <td>{{ item.vehiculo_id }}</td>
            <td>{{ item.modelo }}</td>
            <td>{{ item.placa }}</td>
            <td>{{ item.color }}</td>
            <td>
                <a href="{{url_for('editar_vehiculo',id=item.vehiculo_id)}}" class="btn btn-warning">Editar</a>
                <a href="{{url_for('eliminar_vehiculo', id=item.vehiculo_id)}}" class="btn btn-danger" onclick="return(confirm('Esta seguro eliminar ??'))">Eliminar</a>
            </td>
        </tr>
        {% endfor  %}
    </tbody>
</table>
{% endblock %} 